* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@keyframes cloud_move {
    0% {left: -150px;}
    100% {left: 100%;}
}
@keyframes moving_moon {
    0%{
        right:0%;
        background-color:#54adf6;
    }
    30% {
        right: 500px;
    }
    47%{
        background-color: #54adf6;
        right: 590px;
    }
    50%,55% {
        right:601px;
        background-color:#02192b;
    }
    57% {
        background-color: #54adf6;
        right: 625px;
    }
    100%{
        right:100%;
        background-color:#54adf6;
    }

}
@keyframes sun {
    0% {
        box-shadow: 0 0 40px gold, 0 0 100px #b9a018, inset 48px 8px 34px 25px #c4c4c4;
        right: 100%;
        background-color:rgb(207, 207, 212);
        top: 300px;
    }
    30% {
        right: 700px;
        top: 150px;
    }
    47% {
        background-color: #FFCC80;
        box-shadow: 0 0 20px gold,0 0 30px #b9a018,inset 48px 18px 34px 25px #c4c4c4;
        right: 610px;
    }
    50%,55% {
        box-shadow:0 0 5px gold, 0 0 2px #b9a018, 0 0 1px #FBE9E7;
        right: 600px;
        background-color: #FF8A65;
        top: 101px;
    }
    57% {
        background-color: #FFCC80;
        box-shadow: 0 0 20px gold,0 0 30px #b9a018,inset 48px 18px 34px 25px #c4c4c4;
        right: 575px;
    }
    100% {
        box-shadow: 0 0 40px gold, 0 0 100px #b9a018, inset 48px 8px 34px 25px #c4c4c4;
        right: 0%;
        background-color:rgb(207, 207, 212);
        top: 310px;
    }
}
@keyframes bg_color {
    0%,4%,96%,100%{
        background-color:#6BB9F0 ;
    }
    20%,47%,65% {
        background-color:#5fb2f6;
    }

    50%,55% {
        background-color:#02192b;
    }
}
@keyframes base {
    0%,45%,70%,100% {border-bottom:250px solid #455963;}
    50%,55% {border-bottom:250px solid #0e1315;}
}
@keyframes peak {
    0%,45%,70%,100% {border-bottom:60px solid #adbec6;}
    50%,55% {border-bottom:60px solid #455963;}
}
@keyframes caps {
    0%,45%,70%,100% {border-top: 15px solid #adbec6;}
    50%,55% {border-top: 15px solid #455963;}
}
@keyframes sky {
    0%,42%,67%,100% {
        visibility: hidden;
        opacity: 0;
    }
    50%,55% {
        visibility: visible;
        opacity: 1;
    }

}
@keyframes ground {
    0%,45%,65%,100% {  background-color: #26C281;  }
    50%,55% {background-color: #16A085;}

}
@keyframes color_change {
    0%,45%,67%,100% {
        background-color: #C5EFF7;
    }
    50%,55% {
        background-color: #465b70 ;
    }
}
@keyframes moving_waves {
    0% {
        opacity: 1;
        left: -50px;
    }

    20% {
        opacity: 1;
        left: 250px;
    }
    24% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        left: 150px;
    }
}
@keyframes window {
    0%,47%,57%,100% {
        background-color: #C5EFF7;
    }
    50%,55% {
        background-color: #F4D03F ;
        box-shadow: 0 0 55px 0 #F9BF3B;
    }

}

@keyframes fish {
    0%,20%,63% {
        right: -140px;
        opacity: 1;
    }

    35%,75%,90% {
        opacity: 1;
    }
    40%,100% {
        right: -610px;
        opacity: 0;
    }
    50%,59% {
        opacity:0;
        right:-140px;
    }
}
body
{
    background-color:#90CAF9;
    position:relative;
    z-index:-1;
    animation: bg_color 20s linear infinite;
    animation-fill-mode: forwards;
    overflow: hidden;
}
.sun
{
    background-color:rgb(207, 207, 212);
    height:70px;
    border-radius:100%;
    width:70px;
    position:absolute;
    right: 700px;
    top:150px;
    z-index:0;
    box-shadow: 0 0 40px gold, 0 0 100px #b9a018, inset 48px 8px 34px 25px #c4c4c4;
    animation-name:sun;
    animation-duration:20s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}
.moon {
    background-color: #096cbc;
    width:68px;
    height:68px;
    border-radius:100%;
    position:absolute;
    right:325px;
    top:102px;
    animation-name: moving_moon;
    animation-duration:20s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    z-index:2;
    animation-iteration-count: infinite;
}
.cloud1 {
    position:relative;
    left: -30px;
    top:50px;
    animation: cloud_move 50s linear infinite;

}
.cloud2 {
    position: relative;
    top : 130px;
    animation: cloud_move 25s linear infinite;
}
.cloud3 {
    position: relative;
    top : 210px;
    left: -100px;
    animation: cloud_move 75s linear infinite;
}
.curve_one {
    position:absolute;
    top:16px;
    width:80px;
    height:15px;
    background-color:#C5EFF7;
    border-radius:45%;
    z-index: 4;
    animation: color_change 20s linear infinite;
    animation-fill-mode: forwards;
}
.curve_two {
    position:absolute;
    top:7px;
    left:10px;
    width:60px;
    height:15px;
    background-color:#C5EFF7;
    border-radius:50%;
    z-index: 4;
    animation: color_change 20s linear infinite;
    animation-fill-mode: forwards;
}
.curve_three {
    position:absolute;
    left:23px;
    width:30px;
    height:15px;
    background-color:#C5EFF7;
    border-radius:50%;
    z-index: 4;
    animation: color_change 20s linear infinite;
    animation-fill-mode: forwards;
}

.mountains {
    position: relative;
    top: 150px;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
}
.mount1 {
    position: relative;
    bottom: -58px;
    left: -29px;
    opacity: 0.7;
}
.mount2 {
    position: relative;
    bottom: -55px;
    right: 230px;
}
.mount3 {
    position: relative;
    bottom: -31px;
    right: -200px;

}
.mount4 {
    position: relative;
    bottom: -45px;
    right: -520px;
}
.mount5 {
    position: relative;
    bottom: -53px;
    right: -944px;
}
.mount6 {
    position: relative;
    bottom: -50px;
    right: -720px;
    opacity: 0.5;
}
.mount7 {
    position: relative;
    width: 100px;
    bottom: 100px;
    right: -600px;
    opacity: 0.8;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom-width: 60px;
    border-bottom-style: solid;
    border-image: linear-gradient(-180deg,#adbec6,#89a2ad,#6e8c9a,#556f7b,#455963);
}
.peak {
    position:absolute;
    width:0;
    border-left:60px solid transparent;
    border-right:60px solid transparent;
    border-bottom:100px solid #adbec6;
    top :100px;
    left:190px;
    z-index:5;
    animation:peak 20s linear;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}
.base {
    position: absolute;
    top:100px;
    left:0;
    width:0px;
    border-left:250px solid transparent;
    border-right:250px solid transparent;
    border-bottom:250px solid #455963;
    animation:base 20s linear;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}
.cap-1,.cap-2,.cap-3 {
    position:absolute;
    top:159px;
    left: 190px;
    border-top: 15px solid #adbec6;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index:2;
    animation: caps 20s linear;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}

.cap-2 {

    top:159px;
    left: 230px;
}
.cap-3 {

    top:159px;
    left: 270px;

}
.stars {
    visibility: visible;
    border: 1px solid #F4D03F;
    position: absolute;
    top: 200px;
    right: 650px;
    opacity: 0;
    z-index: -1;
    border-radius: 100%;
    box-shadow: 135px 35px 0 0 #F4D03F,-140px -25px 0 0 #F4D03F,35px 135px 0 0 #F4D03F,-35px 15px 0 0 #F4D03F,
    235px 35px 0 0 #F4D03F,-15px -135px 0 0 #F4D03F,-335px 75px 0 0 #F4D03F,-310px -15px 0 0 #F4D03F,-435px -100px 0 0 #F4D03F,
    -35px 90px 0 0 #F4D03F,-505px 5px 0 0 #F4D03F,-5px 80px 0 0 #F4D03F,-97px 158px 0 0 #F4D03F,-500px -20px 0 0 #F4D03F,
    400px 20px 0 0 #F4D03F, 425px -40px 0 0 #F4D03F, 500px -70px 0 0 #F4D03F, 550px -20px 0 0 #F4D03F,-550px -150px 0 0 #F4D03F,
    -600px 30px 0 0 #F4D03F, 345px 55px 0 0 #F4D03F,250px -40px 0 0 #F4D03F,-600px -40px 0 0 #F4D03F;
    animation: sky 20s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.ground {
    background-color: #87D37C;
    width: 3000px;
    height: 300px;
    border-radius: 80%;
    position: relative;
    bottom: -522px;
    left: -854px;
    animation: ground 20s linear infinite;
    animation-fill-mode: forwards;

}
.pond {
    z-index: 2;
    position: fixed;
    bottom: -28px;
    left: -192px;
    background-color: #5fb2f6;
    width: 755px;
    height: 190px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    animation: bg_color 20s linear infinite;
    animation-fill-mode: forwards;
}
.planets {
    border: 2px solid #F4D03F;
    position: absolute;
    top:30px;
    right: 30px;
    opacity: 0;
    border-radius: 100%;
    box-shadow: -150px 50px 0 2px #F4D03F, -900px 50px 0 2px #F4D03F, -670px 80px 0 1px #F4D03F, -1100px 80px 0 1px #F4D03F;
    animation: sky 20s linear infinite;
    animation-fill-mode: forwards;
}
.moving_water {
    position: relative;
    top:40px;
    animation: moving_waves 20s linear infinite;
    animation-fill-mode: forwards;

}
.wave {
    position: absolute;
    background-color: #FDE3A7;
    border-radius: 50%;
    height: 3px;
    z-index: 2;
}
.home {
    position:fixed;
    bottom: 310px;
    right: 425px;

}
.roof {
    position:absolute;
    border-bottom:100px solid #D35400;
    border-left:130px solid transparent;
    border-right:130px solid transparent;

    /**  border-image: repeating-linear-gradient(to bottom,#6b1c13,#96281B 20%,#c63424 10%,#e16c5f 5%);**/
}
.front {
    position:absolute;
    top:100px;
    left:15px;
    width:230px;
    height:140px;
    background:#F5AB35;
    border-top:7px solid #49110d;
    background: repeating-linear-gradient(to right,#6b1c13,#96281B 10%,#c63424 7%,#e16c5f 2%);

}
.window {
    z-index:2;
    position:relative;
    top:40px;
    left : 70px;
    width:40%;
    height:40%;
    background-color:#6d3012;
    border:5px solid #53120d;
}
.glass-1,.glass-2 ,.glass-3,.glass-4{
    position:absolute;
    width:46%;
    background-color:#C5EFF7;
    animation: window 20s linear infinite;
    animation-fill-mode: forwards;

}
.glass-1 {

    height:30%;
    top:0;
    left:0;
}
.glass-2 {
    height:30%;
    top:0;
    right:0;
}
.glass-3 {
    height:59%;
    bottom:0;
    left:0;
}
.glass-4 {
    height:59%;
    bottom:0;
    right:0;
}
.tree {
    position:fixed;
    bottom: 210px;
    right: 470px;
}
.leaves {
    position:absolute;
    border-left:30px solid transparent;
    border-right:30px solid transparent;
    border-bottom:100px solid #1E824C;

}
.stem {
    position:absolute;
    top:100px;
    left:25px;
    width:10px;
    height:50px;
    border-top:7px solid #49110d;
    background-color: #96281B;
}
.fish {
    width:90px;
    height:90px;
    position:relative;
    right:-250px;
    top:60px;
    animation: fish 20s linear infinite;
    animation-fill-mode: forwards;
}
.fish-body {
    position:absolute;
    left:10px;
    border-left : 40px solid #F5AB35;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
    z-index: 2;
}
.tail {
    position:absolute;
    left: 4px;
    top:13px;
    border-left : 15px solid #EB9532;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
}
.eye {
    position:absolute;
    top:-9px;
    left:-20px;
    z-index:2;
    border-radius:100%;
    width:6px;
    height:6px;
    border:1px solid white;
    background:black;
}
.mouth {
    position:absolute;
    z-index:3;
    border :1px solid red;
    border-radius:100%;
    top:8px;
    left:-16px;
    width:5px;
}