* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@keyframes cloud_move {
    0% {left: -150px;}
    100% {left: 100%;}
}
@keyframes moving_moon {
    0%{
        right:0%;
        background-color:#54adf6;
    }
    30% {
        right: 500px;
    }
    47%{
        background-color: #54adf6;
        right: 590px;
    }
    50%,55% {
        right:601px;
        background-color:#02192b;
    }
    57% {
        background-color: #54adf6;
        right: 625px;
    }
    100%{
        right:100%;
        background-color:#54adf6;
    }

}
@keyframes sun {
    0% {
        box-shadow: 0 0 40px gold, 0 0 100px #b9a018, inset 48px 8px 34px 25px #c4c4c4;
        right: 100%;
        background-color:rgb(207, 207, 212);
        top: 300px;
    }
    30% {
        right: 700px;
        top: 150px;
    }
    47% {
        background-color: #FFCC80;
        box-shadow: 0 0 20px gold,0 0 30px #b9a018,inset 48px 18px 34px 25px #c4c4c4;
        right: 610px;
    }
    50%,55% {
        box-shadow:0 0 10px gold, 0 0 5px #b9a018, 0 0 5px #FBE9E7;
        right: 600px;
        background-color: #FF8A65;
        top: 101px;
    }
    57% {
        background-color: #FFCC80;
        box-shadow: 0 0 20px gold,0 0 30px #b9a018,inset 48px 18px 34px 25px #c4c4c4;
        right: 575px;
    }
    100% {
        box-shadow: 0 0 40px gold, 0 0 100px #b9a018, inset 48px 8px 34px 25px #c4c4c4;
        right: 0%;
        background-color:rgb(207, 207, 212);
        top: 310px;
    }
}
@keyframes bg_color {
    0%,47%,65%,100% {background-color:#5fb2f6;}

    50%,55% {background-color:#02192b;}
}
@keyframes base {
    0%,45%,70%,100% {border-bottom:250px solid #455963;}
    50%,55% {border-bottom:250px solid #0e1315;}
}
@keyframes peak {
    0%,45%,70%,100% {border-bottom:100px solid #adbec6;}
    50%,55% {border-bottom:100px solid #455963;}
}
@keyframes caps {
    0%,45%,70%,100% {border-top: 20px solid #adbec6;}
    50%,55% {border-top: 20px solid #455963;}
}
@keyframes sky {
    0%,45%,67%,100% {
        visibility: hidden;
        opacity: 0;
    }
    50%,55% {
        visibility: visible;
        opacity: 1;
    }

}
@keyframes ground {
    0%,45%,65%,100% {  background-color: #87D37C;  }
    50%,55% {background-color: #26A65B;}

}
body
{
    background-color:#90CAF9;
    position:relative;
    z-index:-1;
    animation: bg_color 20s linear infinite;
    animation-fill-mode: forwards;
}
.sun
{
    background-color:rgb(207, 207, 212);
    height:70px;
    border-radius:100%;
    width:70px;
    position:absolute;
    right: 700px;
    top:150px;
    z-index:0;
    box-shadow: 0 0 40px gold, 0 0 100px #b9a018, inset 48px 8px 34px 25px #c4c4c4;
    animation-name:sun;
    animation-duration:20s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}
.moon {
    background-color: #096cbc;
    width:68px;
    height:68px;
    border-radius:100%;
    position:absolute;
    right:325px;
    top:102px;
    animation-name: moving_moon;
    animation-duration:20s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    z-index:2;
    animation-iteration-count: infinite;
}
.cloud1 {
    position:relative;
    left: -30px;
    top:50px;
    animation: cloud_move 50s linear infinite;

}
.cloud2 {
    position: relative;
    top : 130px;
    animation: cloud_move 25s linear infinite;
}
.cloud3 {
    position: relative;
    top : 210px;
    left: -100px;
    animation: cloud_move 75s linear infinite;
}
.curve_one {
    position:absolute;
    top:16px;
    width:80px;
    height:15px;
    background-color:#C5EFF7;
    border-radius:35%;
    z-index: 4;
}
.curve_two {
    position:absolute;
    top:7px;
    left:10px;
    width:60px;
    height:15px;
    background-color:#C5EFF7;
    border-radius:35%;
    z-index: 4;
}
.curve_three {
    position:absolute;
    left:23px;
    width:30px;
    height:15px;
    background-color:#C5EFF7;
    border-radius:35%;
    z-index: 4;
}
.mountains {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    width: 100%;
}
.mount1 {
    position: relative;
    bottom: -58px;
    left: -29px;
    opacity: 0.7;
    box-shadow: 500px 0 0 0 #fff;
}
.mount2 {
    position: relative;
    bottom: -55px;
    right: 230px;
}
.mount3 {
    position: relative;
    bottom: -25px;
    right: -200px;

}
.mount4 {
    position: relative;
    bottom: -30px;
    right: -500px;
}
.mount5 {
    position: relative;
    bottom: -53px;
    right: -944px;
}
.mount6 {
    position: relative;
    bottom: -50px;
    right: -720px;
    opacity: 0.5;
}

.peak {
    position:absolute;
    width:0;
    border-left:100px solid transparent;
    border-right:100px solid transparent;
    border-bottom:100px solid #adbec6;
    top :100px;
    left:150px;
    z-index:5;
    animation:peak 20s linear;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}
.base {
    position: absolute;
    top:100px;
    left:0;
    width:0px;
    border-left:250px solid transparent;
    border-right:250px solid transparent;
    border-bottom:250px solid #455963;
    animation:base 20s linear;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}
.cap-1,.cap-2,.cap-3 {
    position:absolute;
    top:199px;
    left: 150px;
    border-top: 20px solid #adbec6;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    z-index:2;
    animation: caps 20s linear;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}

.cap-2 {

    top:199px;
    left: 215px;
}
.cap-3 {

    top:199px;
    left: 280px;

}
.stars {
    visibility: visible;
    border: 1px solid #fff;
    position: absolute;
    top: 200px;
    right: 650px;
    opacity: 0;
    z-index: -1;
    box-shadow: 135px 35px 0 0 #fff,-140px -25px 0 0 #fff,35px 135px 0 0 #fff,-35px 15px 0 0 #fff,
    235px 35px 0 0 #fff,-15px -135px 0 0 #fff,-335px 75px 0 0 #fff,-310px -15px 0 0 #fff,-435px -100px 0 0 #fff,
    -35px 90px 0 0 #fff,-505px 5px 0 0 #fff,-5px 80px 0 0 #fff,-97px 158px 0 0 #fff,-500px -20px 0 0 #fff,
    400px 20px 0 0 #fff, 425px -40px 0 0 #fff, 500px -70px 0 0 #fff, 550px -20px 0 0 #fff,-550px -150px 0 0 #fff,
    -600px 30px 0 0 #fff , 345px 55px 0 0 #fff,250px -40px 0 0 #fff,-600px -40px 0 0 #fff;
    animation: sky 20s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.ground {
    background-color: #87D37C;
    width: 3000px;
    height: 250px;
    border-radius: 80%;
    position: fixed;
    bottom: -70px;
    right: -854px;
    animation: ground 20s linear infinite;
    animation-fill-mode: forwards;

}
.pond {
    z-index: 2;
    position: fixed;
    bottom: 60px;
    left: 100px;
    background-color: #5fb2f6;
    width: 450px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    animation: bg_color 20s linear infinite;
    animation-fill-mode: forwards;
}
.planets {
    border: 2px solid #ffffff;
    position: absolute;
    top:30px;
    right: 30px;
    opacity: 0;
    box-shadow: -150px 50px 0 0 #fff, -900px 50px 0 0 #fff, -670px 80px 0 0 #fff, -1100px 80px 0 0 #fff;
    animation: sky 20s linear infinite;
    animation-fill-mode: forwards;
}
